In [1]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('scrubbed.csv')

C:\Users\b0130\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns.values

array(['datetime', 'city', 'state', 'country', 'shape',
       'duration (seconds)', 'duration (hours/min)', 'comments',
       'date posted', 'latitude', 'longitude '], dtype=object)

In [4]:
df['label'] = 0

def has_comment(x):
    if type(x) == str:
        return ('NUFORC' in x)
    else:
        return False
mask = df['comments'].map(has_comment)
df.loc[mask,'label'] = 1
df.columns.values

array(['datetime', 'city', 'state', 'country', 'shape',
       'duration (seconds)', 'duration (hours/min)', 'comments',
       'date posted', 'latitude', 'longitude ', 'label'], dtype=object)

In [5]:
moon_phase = pd.read_csv('moon_phase.csv')
moon_phase = moon_phase[['date','phase','phaseid']]
moon_phase['date'] = pd.to_datetime(moon_phase['date'])
moon_phase.set_index('date', inplace=True)
moon_phase_all =  moon_phase.asfreq('D', 'pad').reset_index()

In [6]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [7]:
df_merge_moon = df.merge(moon_phase_all,left_on='datetime',
                                    right_on='date')

In [8]:
df_merge_moon

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,label,date,phase,phaseid
0,1970-10-10,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,0,1970-10-10,First Quarter,2
1,1970-10-10,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944,0,1970-10-10,First Quarter,2
2,1971-10-10,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611,0,1971-10-10,Full Moon,3
3,1972-10-10,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,0,1972-10-10,New Moon,1
4,1972-10-10,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056,0,1972-10-10,New Moon,1
5,1973-10-10,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611,0,1973-10-10,First Quarter,2
6,1973-10-10,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,0,1973-10-10,First Quarter,2
7,1974-10-10,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667,0,1974-10-10,Last Quarter,4
8,1974-10-10,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000,0,1974-10-10,Last Quarter,4
9,1974-10-10,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722,0,1974-10-10,Last Quarter,4
10,1975-10-10,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000,0,1975-10-10,New Moon,1
11,1976-10-10,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222,0,1976-10-10,Full Moon,3
12,1976-10-10,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333,0,1976-10-10,Full Moon,3
13,1977-10-10,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333,0,1977-10-10,Last Quarter,4
14,1977-10-10,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444,0,1977-10-10,Last Quarter,4
15,1978-10-10,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333,0,1978-10-10,First Quarter,2
16,1979-10-10,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389,0,1979-10-10,Full Moon,3
17,1979-10-10,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885,0,1979-10-10,Full Moon,3
18,1979-10-10,san diego,ca,us,oval,180,3 minutes,My 2nd UFO sighting&#44 October 1979,8/5/2001,32.7152778,-117.156389,0,1979-10-10,Full Moon,3
19,1979-10-10,security,co,us,unknown,1800,30mins.,very low clouds all different colors&#44search...,1/28/1999,38.7583333,-104.742500,0,1979-10-10,Full Moon,3
20,1980-10-10,houston,tx,us,sphere,180,3 min,Sphere&#44 No lights&#44 moving through neigh...,4/16/2005,29.7630556,-95.363056,0,1980-10-10,New Moon,1
21,1980-10-10,dallas,tx,us,unknown,300,5 minutes,Strange shape shifting craft of pure light ene...,10/28/2002,32.7833333,-96.800000,0,1980-10-10,New Moon,1
22,1980-10-10,manchester,nh,us,light,300,3 to 5 min,A red glowing sphere stopped and watched me.,11/21/2010,42.9955556,-71.455278,0,1980-10-10,New Moon,1
23,1982-10-10,gisborne (new zealand),NaN,NaN,disk,120,2min,gisborne nz 1982 wainui beach to sponge bay,1/11/2002,-38.662334,178.017649,0,1982-10-10,Last Quarter,4
24,1984-10-10,houston,tx,us,circle,60,1 minute,2 experience with unkown,4/18/2012,29.7630556,-95.363056,0,1984-10-10,Full Moon,3
25,1984-10-10,traverse city,mi,us,other,120,couple minutes,translucent football seen over city airport,10/7/2003,44.7630556,-85.620556,0,1984-10-10,Full Moon,3
26,1984-10-10,white plains,ny,us,formation,20,15-20 seconds,Saw a hugh object in sky with lights intermitt...,8/10/1999,41.0338889,-73.763333,0,1984-10-10,Full Moon,3
27,1985-10-10,leeds (uk/england),NaN,gb,triangle,600,10min,three light in the sky that led to a big black...,3/4/2003,53.8,-1.583333,0,1985-10-10,Last Quarter,4
28,1986-10-10,holmes/pawling,ny,NaN,chevron,180,3 minutes,Football Field Sized Chevron with bright white...,10/8/2007,41.523427,-73.646795,0,1986-10-10,First Quarter,2
29,1988-10-10,milwaukee,wi,us,triangle,600,10 minutes,A silent black triangular object with no light...,8/7/2007,43.0388889,-87.906389,0,1988-10-10,New Moon,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78445,2012-09-09,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211,-77.915833,0,2012-09-09,Last Quarter,4
78446,2012-09-09,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008,-73.713333,0,2012-09-09,Last Quarter,4
78447,2012-09-09,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2,-86.518611,0,2012-09-09,Last Quarter,4
78448,2012-09-09,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783,-119.292222,0,2012-09-09,Last Quarter,4
78449,2012-09-09,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622,-111.928889,0,2012-09-09,Last Quarter,4
78450,2012-09-09,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819,-85.976667,0,2012-09-09,Last Quarter,4
78451,2012-09-09,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7142,-74.006389,0,2012-09-09,Last Quarter,4
78452,2012-09-09,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4331,-79.121667,0,2012-09-09,Last Quarter,4
78453,2012-09-09,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783,-119.292222,0,2012-09-09,Last Quarter,4
78454,2012-09-09,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7764,-79.931111,0,2012-09-09,Last Quarter,4
78455,2012-09-09,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2978,-83.824167,0,2012-09-09,Last Quarter,4
78456,2013-09-09,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8467,-76.285556,0,2013-09-09,New Moon,1
78457,2013-09-09,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8864,-78.878611,0,2013-09-09,New Moon,1
78458,2013-09-09,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525,-80.608056,0,2013-09-09,New Moon,1
78459,2013-09-09,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7153,-117.156389,0,2013-09-09,New Moon,1
78460,2013-09-09,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.505,-97.820000,0,2013-09-09,New Moon,1
78461,2013-09-09,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333,0,2013-09-09,New Moon,1
78462,2013-09-09,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.8584,-74.163755,0,2013-09-09,New Moon,1
78463,2013-09-09,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097,-87.569167,0,2013-09-09,New Moon,1
78464,2013-09-09,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297,-87.359444,0,2013-09-09,New Moon,1
78465,2013-09-09,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.4658,22.891814,0,2013-09-09,New Moon,1
78466,2013-09-09,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6514,-82.325000,0,2013-09-09,New Moon,1
78467,2013-09-09,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.3676,-77.710548,0,2013-09-09,New Moon,1
78468,2013-09-09,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667,0,2013-09-09,New Moon,1
78469,2013-09-09,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1014,-84.519444,0,2013-09-09,New Moon,1
78470,2013-09-09,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444,0,2013-09-09,New Moon,1
78471,2013-09-09,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500,0,2013-09-09,New Moon,1
78472,2013-09-09,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444,0,2013-09-09,New Moon,1
78473,2013-09-09,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556,0,2013-09-09,New Moon,1
78474,2013-09-09,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778,0,2013-09-09,New Moon,1