In [1]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
df = pd.read_csv('../data/scrubbed.csv')

C:\Users\Preetika\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df=df[df['country']=='us']
df=df.dropna()
df.shape

(63553, 11)

In [19]:
df['label'] = 0

def has_comment(x):
    if type(x) == str:
        return ('NUFORC' in x)
    else:
        return False
mask = df['comments'].map(has_comment)
df.loc[mask,'label'] = 1
df.columns.values

array(['datetime', 'city', 'state', 'country', 'shape',
       'duration (seconds)', 'duration (hours/min)', 'comments',
       'date posted', 'latitude', 'longitude ', 'label'], dtype=object)

In [20]:
moon_phase = pd.read_csv('moon_phase.csv')
moon_phase = moon_phase[['date','phase','phaseid']]
moon_phase['date'] = pd.to_datetime(moon_phase['date'])
moon_phase.set_index('date', inplace=True)
moon_phase_all =  moon_phase.asfreq('D', 'pad').reset_index()

In [21]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [22]:
df['index']=df.index

In [23]:
df_merge_moon = df.merge(moon_phase_all,left_on='datetime',
                                    right_on='date')

In [24]:
df_merge_moon[:10]

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,label,index,date,phase,phaseid
0,1970-10-10,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,0,12,1970-10-10,First Quarter,2
1,1970-10-10,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944,0,13,1970-10-10,First Quarter,2
2,1971-10-10,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611,0,14,1971-10-10,Full Moon,3
3,1972-10-10,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,0,15,1972-10-10,New Moon,1
4,1972-10-10,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056,0,16,1972-10-10,New Moon,1
5,1973-10-10,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611,0,17,1973-10-10,First Quarter,2
6,1974-10-10,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667,0,19,1974-10-10,Last Quarter,4
7,1974-10-10,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722,0,21,1974-10-10,Last Quarter,4
8,1975-10-10,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000,0,22,1975-10-10,New Moon,1
9,1976-10-10,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222,0,23,1976-10-10,Full Moon,3

In [25]:
df_merge_moon.to_csv('moon_phase_data.csv', sep=',', encoding='utf-8')